{% extends 'base.html' %}

{% block content %}
    <br>
    <br>
   
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card p-4 border-primary rounded shadow" style="background-color: rgba(249, 240, 223, 0.5); width: 500px;">
            <h4 style="margin-left: 5%; margin-bottom: 12px; font-size: 30px; font-weight: bold; background: linear-gradient(135deg, rgb(40, 42, 95), rgb(106, 106, 203),rgb(30, 31, 70)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                Welcome to Auction House
            </h4>
            <p class="card-text"  
            style="text-align: center;
            margin-bottom: 20px; 
            font-size: 20px; 
            font-weight: 500;
            color: rgb(40, 42, 95)"> <!-- Adjusted the inline style here -->
            "Your premier destination for a seamless and dynamic real estate experience.Dive into the world of property auctions, where sellers can showcase their homes and buyers can engage in competitive bidding to find their dream property. Elevate your journey with our exclusive feature to book appointments with experienced financial advisors, ensuring you make informed decisions. Discover the future of real estate transactions with us."</p>
        </div>
    </div>
{% endblock %}
