
{% extends 'base.html' %}

{% block content %}
    
    <br>
    <br>
    <br>
    <div class="container d-flex justify-content-center align-items-center">
    <div class="card p-4 border-primary rounded shadow" style="background-color: #001f3f; max-width: 400px;">
        <h2 style="text-align: center; color: whitesmoke;">Update Profile</h2><br><br>
        <form method="post" class="black-inputs">
            {% csrf_token %}
            {{ form.as_p }}
            <input style="text-align: center; margin-left: 25%;" type="submit" value="submit">
        </form>

    </div>
</div>
<br>
{% endblock %}
