{% extends 'base.html' %}

{% block content %}
    {%if user.is_authenticated%}
        <br><br><br><br>
        <div class="container d-flex justify-content-center align-items-center">
            <div class="card p-4 border-primary rounded shadow" style="background-color: #001f3f; max-width: 400px; color: white;">
                <h2 class="card-title text-light mb-4">My profile</h2>
                <h1 style="color: white;">{{ profile.user.username }}</h1>
                <p style="color: white;">Phone: {{ profile.phone }}</p>
                <p>Address: {{ profile.address }}</p>
            </div>
        </div>
    {%else%}
    <br><br><br><br>
        <div class="container d-flex justify-content-center align-items-center">
            <div class="card p-4 border-primary rounded shadow" style="background-color: #001f3f; max-width: 400px;">
                <h2 class="card-title text-light mb-4">Welcome to Auction House</h2>
                <p>please register first</p>
            </div>
        </div>
    {%endif%}
{% endblock %}
